{
    "Database": {
        "Address": "localhost:27017",
        "TableUsers": "UserCollection",
        "DBUsers": "userDB",
    },
    "WsAddress": "0.0.0.0:6780",
    "Logs": {
        "Handlers": [{
                "Type": "stderr",
                "Level": "DEBUG"
            },
            {
                "Type": "file",
                "Level": "INFO",
                "Filename": "info.log"
            },
            {
                "Type": "file",
                "Level": "WARN",
                "Filename": "error.log"
            },
            {
                "Type": "file",
                "Level": "DEBUG",
                "Filename": "debug.log"
            }
        ],
        "CallerInfo": false,
        "Logpath": "logs"
    }
}